.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    color: white;
    
    background-color: transparent;
    
}


aside{
    width: 40%;
    
    font-size: 60px;
    align-items: start;
    display: flex;
    overflow: hidden;
    height: 100%;
    
    background-color: transparent;
    z-index: 50;
    
}

aside span {
   margin: auto;
    
}
.abme{
    border-left: grey 2px solid;
    width: 50%;
    overflow: hidden;
    height: 100%;
    display: flex;
    padding: 9vw;
    padding-left: 30px;

    z-index: 49;
    
    
}
.abme span{
    font-size: larger;
   margin: auto;
    line-height: 2em;
}

@media screen and (max-width:1000px) {
    aside{
        font-size: 5vw;
        display: flex;
        align-items: center;
    }
    aside sppan{
        margin: auto;
    }
    .abme{
        font-size: 2vw;
    }
    .abme span{
        line-height: 2em;
    }
    .abme{
        padding: 20px;
    }
}
