@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    color: white;
    
    background-color: transparent;
    
}


aside{
    width: 40%;
    
    font-size: 60px;
    align-items: start;
    display: flex;
    overflow: hidden;
    height: 100%;
    
    background-color: transparent;
    z-index: 50;
    
}

aside span {
   margin: auto;
    
}
.abme{
    border-left: grey 2px solid;
    width: 50%;
    overflow: hidden;
    height: 100%;
    display: flex;
    padding: 5%;
    padding-left: 30px;

    z-index: 49;
    
    
}
.abme span{
    font-size: larger;
   margin: auto;
    line-height: 2em;
}

@media screen and (max-width:1000px) {
    .about{
        flex-direction: column;
    }
    
    aside{
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
    .about aside span{
          background-color: rgb(158, 160, 161);
    color: black;
    border-radius: 12px;
    margin-left: 0%;
    padding-left: 5%;
    padding-right: 2%;
        font-family:  "PT Serif", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 50px 0px 50px 0px;
        font-size: 7vw;
        font-weight: bold;
    }
    .abme{
        font-size: 2vw;
        width: 80%;
        margin-left: 10%;
    }
    
    .abme span{
        line-height: 1.25em;
        font-size: 4vw;
    }
    .abme{
        padding: 20px;
    }
}
