
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

*{
  background-color: #02081f;
  color: aliceblue;

  
}

.hero{
  margin: auto;
  height: 80vh;
  width: 80%;
  padding-top: 3em;
                          
}
.project{
  height: fit-content;
  width: 90%;
                          
}
.about{
  height: 50vh;
  width: 75%;
                          
}
.contact{
                          
  height: 30vh;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
