.contact{
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
}
.contact h3{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400%;
}