@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.experi{
    width: 90%;
    padding-top: 5.5em;
}

.experi h1{
     text-align: left;
    margin-left: 4%;
    letter-spacing: 5px;
    font-family:  "PT Serif", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 350%;
}


section{
    height: 100%;
    
    overflow: hidden;
}
.wda{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.dat{
    width: 50%;
    align-items: center;
    justify-content: center;
    
    display: flex;
}
.dat span{
width: 100%;
font-size: 200%;
color: rgb(255, 255, 255);
padding-right: 40px;
text-align: right;
}

.te  span{
    width: 100%;
    text-align: left;
    justify-self: left;
    margin-left: 20px;

}
.fullex{
    
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    transition: all 200ms linear;
}
.right{
    justify-self: right;
}
.fullex:hover{
    transform: translateY(-10px);
}
.fullex:hover .conl{
    background-color: aliceblue;
    
    
}

.expan{
    min-width: 80%;
    width: 60%;
    border-bottom: rgb(162, 162, 162) 3px solid;
    border-right: rgb(163, 161, 161) 2px solid;
    background-color: rgb(51, 51, 51);
    height: fit-content;
    overflow: hidden;
    padding: 1%;
    border-radius: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
}
.des{
    
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 1em;
}
.des h5{font-size: 200%;
    padding: 20px;

}
.desc {
    display: flex;
    flex-direction: column;
gap: 1em;
}
.right  .expan{
    border-radius: 10px 0 10px 0;
    
    border-left: rgb(138, 138, 138) 2px solid;
    border-right: none;
}
.conl{
    width: 36%;
    height: 2px;
    transition: all 600ms ease;
    background-color: rgb(128, 128, 129);
}
.logo{
    width: 100%;
    height: 20%;
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}
.logo img{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

.endl{
    height: 100%;
    display: flex;
    width: 0px;
    flex-direction: column;
    justify-content: space-around;
    justify-self: right;
    justify-items: center;
    align-items: center;
    
    z-index: 31;
   
}
.right .end2{
    background-color: transparent;
}
.right .end1{
    background-color: azure;
}
.end1{
    background-color: transparent;
}
.end2{background-color: azure;}
.end1,.end2{
    height: inherit;
    width: 1px;
}

.experi section{
    width: 90%;
    margin: auto;
}
.sepi{
    margin: auto;
    width: 30%;
    background-color: rgb(117, 117, 117);
    height: 1px;
}
