@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.experi{
    width: 90%;
    margin: auto ;
    margin-top: 1.5em;
}

.experi h1{
    text-align: left;
    text-decoration: underline;
    letter-spacing: 5px;

    color: aliceblue;
    font-size: 55px;
    text-shadow: 2px 0px 10px rgb(169, 25, 188);
    
    margin-bottom: .5em;
}

.logo{
    
    width: 20%;
    padding-right: 4%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    color: white;
}

.date{
    word-spacing: .5em;
    word-break: keep-all;
    font-size: x-large;
}
.con{
    
    display: flex;
    margin: auto;
    width: 80%;
    color: aliceblue;
    overflow: hidden;
    flex-direction: row;
    animation: expand 3s ease-in-out;
}
.experi section{
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.logo img{
    height: 100%;
    max-height: 100px;
    width: 100%;
}
.det{
    margin-left: 7%;
    flex-direction: column;
    display: flex;
    font-size: 1.5em;
    gap: 1em;
}

.ex{
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding: 10px;
    gap: 1em;
    border-left: white solid 2px;
    
}
.ex h3{
    
    font-size: 2.5em;
}

.exp{
    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 1%;
    padding: 10px;
    gap: 5em;
  
}

@keyframes expand {
    from { max-height: 0; opacity: 0; }
    to { max-height: 2000px; opacity: 1; }
}

section{
      scale: 0.8;
}
