
.hero{
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    align-items: start;

}



.buttons{
    display: flex;
    height: 8vw;
    gap:1em;
    width: fit-content;
    text-overflow: ellipsis;
  
    
    justify-content: space-between;
    
}
span{
    margin-left: 30%;
    color: white;
    font-weight: 500;
    background: none;
    background-color: transparent;
  }
  
.git:hover{
  box-shadow: 0px 2px 15px 1px  white;
}
.link:hover{
  box-shadow: 0px 2px 15px 2px  #0A66C2;
 
}
.git{
  transition: all 40ms ease-in-out;
    border: rgb(156, 153, 153) solid 1px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
  background-color: rgb(14, 11, 11);
  height: 1.98rem;
  border-radius: 5px;
  width:auto;
  align-content: center;
    justify-items: right;
   
  }
  .buttons img{
    height: 90%;
    width: 25px;
    
  }
  a span{
    width: 7vw;
    margin: 0%;
  }
  .git a{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .link a{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  a{
    text-decoration: none;
    background-color: transparent;
  }
  
  .link{
  cursor: pointer;
    border: rgb(156, 153, 153) solid 1px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: #0A66C2;
    height: 1.98rem;
    border-radius: 5px;
    width: fit-content;
    align-content: center;
    justify-items: right;
    color: aliceblue;
    
    

}

.liner {
  position: relative;
  height: 8px;
  background-color: aliceblue;
  width: 100%;
  margin: auto;

  box-shadow: 2px 0px 10px 9px rgba(192, 192, 192, 0.507);
}

@keyframes widen {
    0% {
      background-color: black;
        width: 0%;
    }
    100% {
        width: 100%;
    }   
    
}
@keyframes widen1 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }   
    
}
@keyframes widen2 {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }   
    
}



.text {
  gap: 7vw;
  width: 60%;
  height: 100%;
  color: gray;
  z-index: 60;
  animation: widen1 2s ease-in-out 0s  forwards ;
  margin: auto;
  display: flex;
  flex-direction: column;
  

}

.hi,.iam,.buttons{
  margin-left: 20%;
}
.hi{
    white-space: nowrap;
    font-size: 7vw;
    background: none;
    
    text-decoration: none;
   
}
.iam{
    white-space: nowrap;
    font-size: 4vw;

    font-weight: 600;
}

.img {
  animation: widen2 2s ease-in-out 0s  forwards ;
  
 
  width: 40%;
}

@media screen and (max-width:1000px) {
  .hero{
    flex-direction: column;
  }
  .text{
    height: 5px;
    margin: 0;
    gap: 1em;
  }
  .hi,.iam,.buttons{
    margin: auto;
    margin-left: 5%;
  }
  .hi{
    margin-top: 60%;

  }
  .img{
    width: 70%;
    margin-left: 40%;
  }

  .git,.link{
    height: fit-content ;
    padding: 3px 15px;
  }
  
  .git span{
    display: none;
  }
  .link span{
    display: none;
  }
}