.nav{
    position: fixed;
    display: flex;
    width: 20vw;
    justify-self: center;
 
    top: 0;
    background-color: black;
    z-index: 100;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.475);
    border-radius: 0 0 30px  30px;
    height:5%;
    padding: 10px;
    animation: widen6 1s ease-out 0s  forwards ;
}

@keyframes widen6 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }   
    
}
.nav span{
    margin: 0%;
    background: none;
    justify-self: center;
    transition: all 0.5s ease-in-out;
    align-self: center;   
    color: inherit;
}

.nav a {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    background: linear-gradient(90deg,rgba(87, 86, 86, 0.154),rgba(141, 139, 139, 0));
    width: 20%;
    justify-self: center;
    backdrop-filter: blur(12px) saturate(180%);
    align-items: center;
    justify-content: center;
    height: 100%;
  transition: all 300ms ease-in-out;
}

.nav a:hover {
    background-color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.989);
    cursor: pointer;
    
}
.nav a:hover span{
    
    color: rgb(0, 0, 0);
}