.nav{
    position: fixed;
    display: flex;
    width: 30vw;
    justify-self: center;
    height: 2.5em;
    top: 2em;
    z-index: 100;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border-radius: 30px;
    height: 7%;
        animation: widen1 1s ease-out 0s  forwards ;
}

@keyframes widen {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }   
    
}
.nav span{
    margin: 0%;
    background: none;
    justify-self: center;
    transition: all 0.5s ease-in-out;
    align-self: center;
    
}
.nav a{
    width: 15%;
}
.navitem{
    position: relative;
    overflow: hidden;
    display: flex;
    
    width: 100%;
    justify-self: center;
    backdrop-filter: blur(12px) saturate(180%);
    align-items: center;
    justify-content: center;
    height: 3rem;
 
    border-radius: 10px;
  border: 1px solid rgba(5, 26, 88, 0.989);
 

  transition: all 30ms ease-in-out;
  
  background: transparent; 
  box-shadow: inset 0 0 10px rgba(231, 227, 227, 0.912);
  z-index: 50;
}

span{
    
    color: white;
}
.navitem:hover {
    border: 1px solid rgba(255, 255, 255, 0.989);
    cursor: pointer;
    transition: 0.3s;
}