@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.project{
    color: aliceblue;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5em;
    overflow: hidden;
}
.project h1{
    text-align: left;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family:  "PT Serif", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 2px 0px 10px rgb(169, 25, 188);

   
}
h2{
    
    margin-bottom: .5em;
    font-weight: 400;
}
.pro{

    box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: left;
    font-weight: 100;
    animation: fader 2s ease-in-out;
}

@keyframes fader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }   
    
}

ul{
    margin: 0%;
    padding: 0%;
}
.projs{
    padding: 0.75em;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 1em;
    justify-content: center;
    /* border: white solid 1px; */
    border-radius: 20px;

    flex-direction: column;
    font-size: 20px;
      scale: 0.8;
}
.project  aside{
    width: 40%;
    padding-top: 1%;
    padding-right: 2%;
    font-size: 35px;
    align-items: start;
    display: flex;
    overflow: hidden;
    height: 100%;
    
    animation: trans2 3s ease-in-out;
    background-color: transparent;
    z-index: 50;
    animation: none;
    
}

.project aside span {
    top: 20px;
    margin-left: 0;
    animation: none;
    
}
.uli{
    margin-bottom: 10px;
    font-size: larger;
}
.abme{
    width: 50%;
    overflow: hidden;
    height: 100%;
    display: flex;
    padding-left: 5%;
    z-index: 49;
    background-color: transparent;
    animation: none;
    
}
.abme span{
    
    z-index: 49;
    margin: 0;
    margin-top: 7%;
    font-size: larger;
    line-height: 2em;
    animation: none;
}


.li{
    position: relative;
    top: -50px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.viewpro{
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(169, 25, 188, 0.7);
    
    transition: 0.3s;
}

.viewpro:hover{
    box-shadow: 0 0 20px 3px rgba(169, 25, 188, 0.7);
   
}

.viewpro a{
    text-decoration: none;
    color: white;
    width: 30%;
}