@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.project h1{
    text-align: left;
    margin-left: 4%;
    letter-spacing: 5px;
    font-family:  "PT Serif", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 350%;
}

.pro{
    margin-top: 8%;
    box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.2);
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.773);
    border-radius: 1em;
    width: 40%;
    min-width: 600px;
    min-height: 50%;
    box-shadow:  0px 0px 10px  rgba(255, 255, 255, 0.908);
    
}


ul{
    margin: 0%;
    padding-right: 5%;
}
.projs{
    padding: 0.75em;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 1em;
    justify-content: space-around;
}
.project  aside{
    width: 100%;
    padding-right: 3%;
    padding-bottom: 4%;
    font-size: 200%;
    align-items: start;
    display: flex;
    overflow: hidden;
    min-height: 30%;
}

.project aside span {
    top: 20px;
    margin-left: 0;
    animation: none;
    
}
.uli{
    margin-bottom: 10px;
    font-size: larger;
}


.sep{
    margin: auto;
    width: 50%;
    background-color: aliceblue;
    height: 1px;
}

.pro .abme{
    width: 100%;
    overflow: hidden;
    border: none;
    padding: 5%;
    padding-left: 0%;   
}

.li{
    justify-items: center;
    display: flex;
    padding: 20px;
}
.viewpro{
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    justify-self: center;
    margin: auto;
    transition: 0.3s;
}

.viewpro:hover{
    box-shadow: 0 0 20px 3px rgba(22, 207, 203, 0.7);
   
}

.viewpro a{
    text-decoration: none;
    color: white;
    width: 30%;
}