@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.project{
        padding-top: 4%;

}
.project h1{
    text-align: left;
   
    width: fit-content;
    letter-spacing: 5px;
    margin-left: 4%;
    margin-top: 4%;
    font-family:  "PT Serif", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 350%;
    overflow-x: hidden;
}

.pro{
    margin-top: 8%;
    box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.2);
    background-color: black;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.773);
    border-radius: 1em;
    width: 40%;
    min-width: 40%;

    box-shadow:  0px 0px 10px  rgba(255, 255, 255, 0.908);
    
}


ul{
    margin: 0%;
    padding-right: 5%;
}
.projs{
    padding: 0.75em;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 1em;
    justify-content: space-around;
}
.project  aside{
    width: 100%;
    padding-right: 3%;
    padding-bottom: 4%;
    font-size: 200%;
    align-items: start;
    display: flex;
    overflow: hidden;
    min-height: 30%;
}

.project aside span {
    top: 20px;
    margin-left: 0;
    animation: none;
    
}
.uli{
    margin-bottom: 10px;
    font-size: larger;
}


.sepir{
    margin: auto;
    width: 100vw;
    background-color: rgb(120, 120, 120);
    height: 1px;
}
.sep{
    margin: auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 1px;
}

.pro .abme{
    width: 100%;
    overflow: hidden;
    border: none;
    padding: 5%;
    padding-left: 0%;   
}

.li{
    justify-items: center;
    display: flex;
    padding: 20px;
}
.viewpro{
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    justify-self: center;
    margin: auto;
    transition: 0.3s;
}

.viewpro:hover{
    box-shadow: 0 0 20px 3px rgba(22, 207, 203, 0.7);
   
}

.viewpro a{
    text-decoration: none;
    color: white;
    width: 30%;
}

@media screen and (max-width:1000px) {
    .project h1{
        font-size: 7vw;
         background-color: rgb(158, 160, 161);
    color: black;
    border-radius: 12px;
    margin-left: 0%;
    padding-left: 5%;

    }
    .projs{
        width: 90%;
    }
    .viewpro{
        padding: 14px;
        font-size: xx-large;
        border-radius: 12px;
        
            box-shadow: 0 0 40px 1px rgba(255, 255, 255, 0.601);

    }
    .pro{
        width: 80%;
        padding: 20px;
    }
    aside span{
        font-size: 4vw;
    }
    .abme span{
        font-size: 3vw;
        
    }
    .li{
        padding: 0;
    }
    ul{
        padding-left: 3vw;
    }
}