@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.skills{
    width: 90%;
    height: fit-content;
    margin: auto;
   
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}


.skills h3{
      text-align: left;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: "PT Serif", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: 2px 0px 10px rgb(169, 25, 188);
    

}

.fi{
  transform: translateX(-4rem);
}
.fo{
  transform: translateX(4rem);
  
}