@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@45,2&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.skills{
    width: 90%;
    height: fit-content;
    margin: auto;
   
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}


.skills h3{
      text-align: left;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: "PT Serif", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: 2px 0px 10px rgb(169, 25, 188);
    

}

.carcon{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 3em;
    justify-content: center;
    justify-content: start;
    width: 70%;
    min-height: 50%;
   
    
}
.carcon::-webkit-scrollbar {
    height: 8px;
}
.car{
    height: 180px;
    min-width: 160px;
    border: rgb(156, 208, 207) 1px solid;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.102);
    transition: 500ms all ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
}

.car:hover{
    box-shadow: 5px 0px 50px 1px rgba(0, 255, 255, 0.481);
    scale: 1.12;
}

.car img{
    height: 40%;
    width: 90%;
    background-color: transparent;
}

.car h4{
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    transition: all 200ms ease-in;
}
    
    .car:hover h4{
        background-color: transparent;
        scale: 1.12;
        color: wheat;
        
    }

    .fullcon{
        display: flex;
        width: fit-content;
        justify-self: left;
        flex-direction: column;
        left: -8%;
        top: -100px;
        position: relative;
        gap: 4em;
          scale: 0.8;
    }
    
.skilldes{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.skillname{
    width: 30%;
    text-align: center;
    font-size: 300%;
    letter-spacing: 4px;
    margin-right: 30px;
    font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
    
}